APP_NAME=Club Python API
APP_ENV=local
APP_HOST=127.0.0.1
APP_PORT=8000
APP_DEBUG=true

DB_DRIVER=ODBC Driver 17 for SQL Server
DB_SERVER=localhost\MAY1
DB_NAME=UmaClubKPI
DB_TRUSTED_CONNECTION=yes
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=yes

CLUB_ID=508865447
UMA_MOE_BASE_URL=https://uma.moe
UMA_MOE_TEXT_PROXY_URL=https://r.jina.ai/http://uma.moe
SYNC_ENABLED=true
SYNC_HOUR=0
SYNC_MINUTE=5
SYNC_TIMEZONE=Asia/Saigon
DEFAULT_REQUESTED_BY=system
